.collections-header{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../../Images/login.jpg) fixed center center;
    background-size: cover;
    margin-top: 90px;
    color: #fff;
    margin-bottom: 70px;

}
.collections{
    margin: 70px 0;
    .container-fluid{
        padding: 0 30px !important;
    }
}

@media(max-width:500px){
    .collections-header{
        margin-top: 0;
    }
}