$mainColor:#fc846b;
$secondColor:#373737;
.blog-item{
    padding: 0 20px !important;
    cursor: pointer;
    .image{
        margin: 15px 0;
        position: relative;
         img{
            width: 100%;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
         }
    }
    .image::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:linear-gradient(rgba(0, 0, 0, 0),#fc846b);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        transition: 300ms;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -ms-transition: 300ms;
        -o-transition: 300ms;
        opacity: 0;
    }
    h3{
        color: $secondColor;
        margin: 25px 0;
        transition: 300ms;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -ms-transition: 300ms;
        -o-transition: 300ms;
    }
    h3:hover{
        color: #fc846b;
    }
    .info{
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        svg{
            color: $mainColor;
            margin-right: 5px;
        }
        span{
            display: inline-block;
            width: 1px;
            height: 20px;
            background-color: $secondColor;
        }
        p{
            display: inline-block;
        }
    }
    .desc{
        margin-bottom: 25px;
        font-size: 18px;
        color: $secondColor;
    }
    a{
        margin: 10px 0;
        display: block;
        width: fit-content;
    }
   
}
.blog-item:hover > .image::after{
    opacity: 1;
}