.review-form{
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    .form-control{
        background-color: #fff;
        padding: 12px;
        border-radius: 30px ;
        -webkit-border-radius: 30px ;
        -moz-border-radius: 30px ;
        -ms-border-radius: 30px ;
        -o-border-radius: 30px ;
    }
    .form-control:focus{
        border: 1px solid var(--mainColor);
        box-shadow: 0px 0px 5px 0px var(--mainColor);
    }
    button{
        width: fit-content;
    }
    textarea{
        resize: none;
    }
}