$mainColor:#fc846b;
$secondColor:#373737;
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    width:100%;
    height: 90vh;
    background: url("../../Images/footer.webp") ;
    background-size: cover;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    .subscripe{
        width: 50%;
        position: relative;
        input{
            width: 100%;
            padding: 18px;
            border-radius: 28px;
            -webkit-border-radius: 28px;
            -moz-border-radius: 28px;
            -ms-border-radius: 28px;
            -o-border-radius: 28px;
        }
        button{
            position: absolute;
            right: 2px;
            top: 3px;
        }
    }
    .socials{
        display: flex;
        svg{
            margin: 0 20px;
            cursor: pointer;
            path{
                transition: all 300ms ease-out;
                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -ms-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
            }
            
        }
        svg:hover{
            path{
                fill:$mainColor
            }
        }
    }
    .privacy{
        text-align: center;
        span{
            display: inline-block;
            width: 2px;
            height: 15px;
            margin:0 10px;
            background-color: #fff;
        }
        a{
            color: #fff;
            font-size: 20px;
            margin: 0 10px;
            transition: all 300ms ease-out;
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -ms-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
        }
        a:hover{
            color: $mainColor;
        }
    }
    .copyRight{
        border-top: 0.5px solid #fc836b8e;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
}