$mainColor:#fc846b;
$secondColor:#373737;
.login-form{
    margin: 50px auto;
    text-align: end;
    padding: 30px;
    width: 500px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    p{
        text-align: start;
        font-size: 17px;
        color: $secondColor;
    }
    .form-control{
        background-color: #fff;
        padding: 12px;
        border-radius: 30px ;
        -webkit-border-radius: 30px ;
        -moz-border-radius: 30px ;
        -ms-border-radius: 30px ;
        -o-border-radius: 30px ;
    }
    .form-control:focus{
        border: 1px solid $mainColor;
        box-shadow: 0px 0px 5px 0px $mainColor;
    }
    button{
        width: 100%;
        font-size: 20px;
        padding: 11px;
    }
    .create{
        margin-top: 20px;
        text-align: start;
        p{
            display: inline-block;
            margin-bottom: 0;
        }
    }
   .social-login{
       display: flex;
       justify-content: center;
       margin: 10px 0;
       .google{
           display: flex;
           justify-content: space-between;
           align-items: center;
           background-color: #4285f4;
           border: 1px solid #4285f4;
           color: #fff;
           font-weight: bold;
           width:100%;  
           transition: 300ms;
           border-radius: 30px;
           text-align: center;
           cursor: pointer;
           img{
               width: 50px;
               background-color: #fff;
               border-radius: 50%;
           }
           span{
               width:calc(100% - 50px);
           }
        }
   }
   .or{
       display: block;
       font-size: 18px;
       width: 100%;
       text-align: center;
       margin: 15px 0;
       position: relative;
   }
   .or::after{
       content: "";
        position: absolute;
        top: 15px; 
        left:4%;
        width: 40%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
   }
   .or::before{
    content: "";
     position: absolute;
     top: 15px; 
     right: 4%;
     width: 40%;
     height: 1px;
     background-color: rgba(0, 0, 0, 0.1);
}

}
@media(max-width:550px){
    .login-form{
        width: 90%;
        padding: 10px;
    }
}